body{
    background-color: lightblue;

}

p {
    font-family: monospace;
    text-align: center;
    color: darkred;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Verdana, Geneva,Tahoma, sans-serif;
    color: darkred ;
    font-style: italic;
    text-align: Center;
}
h1 {
    font-family: Impact,Haettenschweiler,  'Arial Narrow Bold'
    , sans-serif;
    font-size: 100px;
    font-style: normal;
}
.special {
    font-family: 'Gill sans','Gill Sans MT', 
    Calibri,'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: Center;   
} 

    .special2 {
        font-family: 'Gill sans','Gill Sans MT', 
        Calibri,'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 20px;
        text-align: left;  
        color:green;


}